nav{
  	height: 75px;
  }
  .container{
  	margin-top: 50px;
  }
nav ul a {
  margin-right: 20px;
  margin-left: 27px;
  margin-top: 5px;
  }
  .input-field label {
  color: #1D689E;
}
input[type=text]{
	  border-bottom: 1px solid #1D7FC5;
}
nav ul li:hover, nav ul li.active {
  background-color: rgba(0,0,0,0.1);
  height: 75px;
}
input[type=text]:focus:not([readonly]) + label{
color: #1D689E;
}