.file-field {
  position: relative;
  margin-top: 100px;
  margin-left: 145px;
  margin-right: 160px;
}
nav ul a {
  margin-right: 20px;
  margin-left: 27px;
  margin-top: 5px;
  }
 nav{
  	height: 75px;
  }
  .container{
  	margin-top: -45px;
  }
 nav ul li:hover, nav ul li.active {
  background-color: rgba(0,0,0,0.1);
  height: 75px;
}
